* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Oswald", sans-serif;
}

/* start header */

header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  color: white;
  border-bottom: 0.2px solid white;
}
.container {
  width: 75%;
  max-width: 1200px;
  margin: 0 auto;
  /* border: 1px solid red; */
}

header .header__container {
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header nav a {
  text-decoration: none;
  text-transform: uppercase;
  margin-right: 20px;
  color: white;
  font-weight: 500;
  font-size: 20px;
  transition: 0.2s;
}

header nav a:hover,
header a.active {
  color: #af2239;
}

header .logo {
  font-weight: 500;
  font-size: 35px;
}

header p {
  font-size: 20px;
}
/* end header */

/* start banner */
.banner {
  background-image: url(./image-video/home_slider.jpg);
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.banner__container {
  width: 50%;
  /* border: 5px solid orange; */
  text-align: center;
  color: white;
  font-family: "Oswald", sans-serif;
}

.banner .banner__container p {
  font-size: 70px;
  margin: 10px 0;
  font-weight: 700;
}

.banner .banner__container button {
  padding: 15px 25px;
  color: white;
  background-color: #e62b4a;
  border: none;
  text-transform: uppercase;
  font-size: 20px;
  transition: 0.5s;
  cursor: pointer;
}

.banner .banner__container button:hover {
  background: #af2239;
}

.banner__container i {
  font-size: 2rem;
  color: red;
  animation: animate_1 3.5s infinite;
}

@keyframes animate_1 {
  from {
    opacity: 1;
    transform: translateY(0px);
  }
  to {
    opacity: 0;
    transform: translateY(100px);
  }
}
/* end banner */
/* start carousel */

.carousel {
  padding: 80px 0;
  background: black;
}
.carousel__title {
  color: white;
  text-align: center;
}

.carousel__title h2 {
  font-size: 40px;
  margin-bottom: 15px;
}

.carousel__item {
  height: 250px;
  padding: 0 10px;
  background: black;
}

.item__container {
  height: 100%;
  width: 100%;
  background: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 24px;
  position: relative;
}

.item__container::before {
  content: "";
  position: absolute;
  width: 4px;
  /* height: 0; */
  right: 0;
  top: 0;
  background: red;
  height: 100%;
  transform: translateY(-100%);
  transition: all 0.3s;
}

.item__container:hover::before {
  /* height: 100%; */
  transform: translateY(0px);
}

.carousel .slick-dots li.slick-active button::before {
  color: red;
  font-size: 14px;
  opacity: 1;
}
.carousel .slick-dots li button:before {
  color: white;
  opacity: 0.25;
  font-size: 14px;
}
.carousel .slick-dots {
  bottom: -35px;
}
.carousel .container .carousel__list .carousel__item .item__container i {
  font-size: 50px;
}
.carousel .container .carousel__list .carousel__item .item__container p {
  font-size: 16px;
}
.carousel .container .carousel__list .carousel__item .item__container {
  color: #888888;
}
/* end carousel */

/* start blogs */

.blogs {
  padding: 20px;
}

.blogs .container .blogs__title {
  text-align: center;
  color: #888888;
  margin-top: 50px;
  margin-bottom: 50px;
}
.blogs__title h2 {
  color: black;
  font-size: 40px;
  margin-top: 15px;
  margin-bottom: 30px;
}
.item__title p {
  opacity: 0.6;
}
/* .blogs .item__overlay {
  display: none;
} */

.blogs__item img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: grayscale(50%) contrast(50%);
}

.blogs__list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
  aspect-ratio: 1 / 1;
}

.blogs__metro1 {
  grid-column: 1 / 3;
  grid-row: 1 / 3;
}

.blogs__metro10 {
  /* grid-column: 3 / span 2;
  grid-row: 3 / span 2; */
  grid-column: 3 / 5;
  grid-row: 3 / 5;
}

.blogs__item {
  position: relative;
}

.blogs__item .item__overlay .item__search {
  position: absolute;
  top: 25px;
  right: 25px;
  width: 35px;
  height: 35px;
  background: white;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s;
}

.item__search i {
  padding: 11px;
  transition: 0.3s;
}

.blogs__item .item__overlay .item__title {
  color: white;
  transition: 0.3s;
  transform: translateY(40%);
}

.item__search :hover i {
  background: black;
  color: white;
}

.item__search a {
  color: black;
  font-size: 14px;
}

.blogs__item .item__overlay .item__title {
  position: absolute;
  bottom: 25px;
  left: 25px;
  transform: all 0.5s;
}

.blogs__item .item__overlay {
  position: absolute;
  opacity: 0;
  width: 100%;
  height: 100%;
  transition: all 0.3s;
  top: 0;
  left: 0;
  background: rgba(230, 43, 74, 0.6);
}

.blogs__item:hover .item__overlay {
  opacity: 1;
}

.item__search {
  transform: translateY(40%);
}
.blogs__item .item__overlay:hover .item__search {
  transform: translateY(0);
}

.blogs__item .item__overlay:hover .item__title {
  transform: translateY(0);
}
/* end blogs */

/* start number */

.number {
  background: black;
  padding: 80px 0;
  color: white;
}

.number__list {
  display: flex;
  justify-content: space-evenly;
  text-align: center;
}

.number__list h2 {
  font-size: 40px;
}
/* end number */

/* start contact */

.contact .container {
  display: flex;
  align-items: center;
}

.contact .contact__map {
  display: flex;
  justify-content: left;
}

.contact .contact__form form {
  display: flex;
  flex-direction: column;
  padding: 0 15px;
}

.contact__form input,
.contact__form textarea {
  font-size: 15px;
  padding: 12px;
  padding-right: 290px;
  border: 1px solid #888888;
  border-radius: 2px;
  margin-bottom: 30px;
}
.contact__form textarea {
  padding-bottom: 150px;
}
.contact__form .btnSM {
  padding: 20px 30px;
  border: 1px solid black;
  background-color: #000;
  color: #ffffff;
  cursor: pointer;
  transition: all 0.5s;
}
.contact__form .btnSM:hover {
  background-color: #e62b49;
}
.contact .contact__tittle {
  text-align: center;
}
.contact .contact__tittle h2 {
  margin-top: 80px;
  margin-bottom: 20px;
  font-size: 40px;
}
/* end contact */

/* start experience */

.experience .experience__content {
  text-align: center;
}
.experience .experience__content h2 {
  color: white;
  font-size: 40px;
  margin-bottom: 20px;
}

.experience {
  background-image: url(./image-video/bussiness_img_1.jpg);
  background-size: cover;
  background-attachment: fixed;
  padding: 100px 0;
}

.experience .title__experience {
  width: 75;
  margin: 30px auto;
}

.experience .title__experience video {
  width: 75%;
  object-fit: cover;
  border: none;
  margin-left: 195px;
  outline: none;
}
/* end experrience */

/* start footer */

footer {
  background: #000;
  margin-top: 100px;
}

.footer__content {
  width: 75%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 100px 0;
}

.footer__content p {
  font-size: 14px;
  color: white;
}
.footer__content a {
  display: inline-block;
  text-decoration: none;
  color: white;
  width: 55px;
  height: 55px;
  border-radius: 50%;
  text-align: center;
  line-height: 55px;
  background-color: rgba(255, 255, 255, 0.2);
  transition: all 0.5s;
  margin-right: 5px;
}
.footer__content a:hover {
  background: #e62b49;
}

.cd-top--is-visible {
  // back-to-top button visible
  visibility: visible;
  opacity: 1;
}

.cd-top--fade-out {
  // reduce button opacity if user keeps scrolling
  opacity: 0.5;
}
/* end footer */
